
    <link rel="stylesheet" type="text/css" href="css/problemPagecss.css">
    <section class="problempagesection">
        <div class="problempagecontainer">
            <h3 id="problemname">ADDING IT!</h3><!--{{ problem.name }}-->
            <h4 id="problemcode">Problem Code: ADD</h4><!--{{ problem.code }}-->
            <hr>
            
            <h6 id="timelimit">Time Limit &nbsp;&nbsp;&nbsp;: 1 sec</h6><!--{{ problem.tl }}-->
            <h6 id="memory">Memory Limit : 50 M</h6><!--{{ problem.ml }}-->
            <hr>
            <h4 id="headingicp">Problem Statement</h4>
            <p id="problemline">I am adding problem stament so get ready for the real fun start your problem whatever the question is you just have to type hello and answer it lets see kiddos wheteher you can type hello or not i am hell serious if you messed this you are going to hell tu yaha tak padd raha hai to bahut he vella hai yaar ye to mai bas test karne k liye likh raha tha </p> <!--{{ problem.statement|safe }}-->
            <h4 id="headingicp">Input</h4>
            <p id="problemline">{{ problem.input|safe }}</p>
            <h4 id="headingicp">Output</h4>
            <p id="problemline">{{ problem.output|safe }}</p>
            <h4 id="headingicp">Constraints</h4>
            <p id="problemline">{{ problem.constraints|safe }}</p>
            
<!--         this is all on you i think   -->
            <form action="" method="post" id="editor">
                {% csrf_token %}
                {{ form2.lang }}
                <button type="submit" name = "lang_select" id="formbutton">Select</button>
            </form>

        <div id="editor">
            Language : {{ lang }}
        </div>

        <form action="" method="post" id="editor">
            {% csrf_token %}
            <div>
                {{ form1.code }}
                {% if errors %}
                    <pre>
                        <code>
                            <p>Syntax Error : </p><br>
                            {{ errors }}
                        </code>
                    </pre><br>
                {% endif %}
                {% if result %}
                    <p>Elapsed Time : {{ result.toe }}</p>
                    <p>{{ result.status }}</p>
                    {% if result.stderr %}
                        {% autoescape on %}
                            <p>{{ result.stderr | linebreaksbr }}</p>
                        {% endautoescape %}
                    {% endif %}
                {% endif %}
                <button type="submit" id="formbutton">Submit</button>
            </div>
        </form>
        </div>
<!--        -->
    </section>